<h2 id="" class="">{{title}}</h2>
<p id="" class="">{{content}}</p>
<figure id=""><a
        href="{{site_url}}" class="bookmark source">
        <div class="bookmark-info">
            <div class="bookmark-text">
                <div class="bookmark-title">{{site_title}}</div>
                <div class="bookmark-description">{{site_description}}</div>
            </div>
            <div class="bookmark-href"><img
                    src="{{url_favicon}}"
                    class="icon" />{{site_url}}
            </div>
        </div><img src="{{site_image}}" class="bookmark-image" />
    </a></figure>
<hr id="" />